#top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

#logo {
  width: 13rem;
  height: 3rem;
}

#logo-alt {
  display: none;
  width: 3.25rem;
  height: 3.25rem;
}

/* 
 * NOTIFICATION
/* --------------------------------------------------- */
#notification {
  display: flex;
  align-items: center;

  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1rem;

  margin: 0 1.25rem;
}

#notification img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

/* 
 * AVATAR
/* --------------------------------------------------- */
#top > div {
  display: flex;
  align-items: center;
}

#avatar-profile {
  display: flex;
  align-items: center;
  text-align: right;

  font-family: "IBM Plex Sans", sans-serif;
  color: var(--color-white);
  text-decoration: none;
}

#avatar-profile p {
  min-width: 7.5rem;
  margin-right: 0.75rem;

  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

#avatar-profile span {
  display: block;

  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

#avatar-profile p span:hover {
  color: var(--color-secondary);
}

#avatar-profile img {
  width: 4rem;
  height: 4rem;

  border: 0.156rem solid var(--color-secondary);
  border-radius: 50%;
}

/* 
 * SUMMARY
/* --------------------------------------------------- */
#summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

/* 
 * SUMMARY INFO
/* --------------------------------------------------- */
#summary .info {
  display: flex;
  gap: 2.25rem;
  font-family: "Inter", sans-serif;
}

.info > p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
}

.info > p > strong {
  display: block;

  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.625rem;
}

/* 
 * SUMMARY BUTTON
/* --------------------------------------------------- */
#summary .button {
  padding: 0.75rem 1.25rem 0.75rem 0.75rem;
}

#summary .button > span:first-child::before {
  content: " ";
  position: absolute;

  width: 2rem;
  height: 2rem;
  background-color: var(--color-plus-background);
  border-radius: 0.313rem;
  opacity: 0.2;
}

#summary .button > span:first-child {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
}

#summary .button > span:first-child img {
  width: 1.5rem;
  height: 1.5rem;
}

/* 
 * MAIN
/* --------------------------------------------------- */
main > section {
  margin-top: -2.825rem;
}

/* 
 * CARD
/* --------------------------------------------------- */
.card {
  position: relative;

  display: grid;
  grid-template-columns: 5% 35% 17.5% 15% 17.5% 10%;
  align-items: center;

  margin-bottom: 0.5rem;
  transition-duration: 0.2s;
}

.card:hover {
  background: linear-gradient(
      90deg,
      var(--color-card-initial-gradient) 0.45%,
      var(--color-card-background) 31.4%
    ),
    var(--color-card-background);
}

.card::before {
  content: " ";
  position: absolute;
  top: 0;
  left: -1px;

  width: 0.25rem;
  height: 0%;
  background-color: var(--color-secondary);
  border-radius: 0.313rem 0 0 0.313rem;
  transition-duration: 0.2s;
}

.card:hover::before {
  height: 100%;
}

.card .column:last-child {
  justify-self: flex-end;
}

.card .column span {
  display: block;

  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 0.75rem;
  color: var(--color-card-label);
  text-transform: uppercase;
}

.card .column p.pointer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.card .column p.pointer img {
  width: 1rem;
  height: 1rem;
  margin-left: 0.25rem;
}

.progress .column p {
  font-weight: 600;
}

.column.id {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  color: var(--color-card-label);
}

.column.name {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.125rem;
}

.column.deadline p {
  padding-right: 1rem;
}

.column.actions form {
  margin-right: 0.5rem;
}

.column.actions .button img {
  width: 1.5rem;
  height: 1.5rem;
}

.column.actions button.start img {
  width: 1.6rem;
  height: 1.6rem;
}

@media (max-width: 1210px) {
  .card {
    grid-template-columns: 5% 30% 17.5% 15% 19.75% 12.25%;
  }
}

@media (max-width: 1050px) {
  .card {
    grid-template-columns: 5% 25% 17.5% 16.5% 21.25% 14%;
  }
}

@media (max-width: 950px) {
  .card {
    grid-template-columns: 25% 17.5% 18.5% 25.75% 13.75%;
  }

  .column.id {
    display: none;
  }
}

@media (max-width: 750px) {
  .card {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "lt rt"
      "lm rm"
      "lb rb";
    gap: 0.5rem;
  }

  .column.name {
    grid-area: lt;
  }

  .column.deadline {
    grid-area: lm;
  }

  .column.amount {
    grid-area: lb;
  }

  .column.status {
    justify-self: end;
    grid-area: rt;
  }

  .column.actions {
    grid-area: rb;
  }
}

@media (max-width: 685px) {
  #logo {
    display: none;
  }

  #logo-alt {
    display: block;
  }

  #summary {
    margin: 1.2rem 0;
  }

  #summary .info {
    flex-direction: column;
    gap: 0.5rem;
  }

  #summary .info > p {
    display: flex;
    align-items: center;
    margin-right: 0;
  }

  .info > p > strong {
    margin-right: 0.5rem;
  }
}

@media (max-width: 420px) {
  #avatar-profile p {
    display: none;
  }
}
