<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta
  name="description"
  content="A JobsCalc é uma plataforma que, com base em seu cadastro profissional de desenvolvedor de software, permite a visualização, armazenamento e gerenciamento de informações relativas aos seus projetos freelance de forma rápida e prática."
/>
<meta name="theme-color" content="#41414C" />

<link rel="shortcut icon" href="/images/favicon.png" type="image/png" />
<title>JobsCalc</title>

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
  rel="stylesheet"
/>

<link rel="stylesheet" href="/styles/global.css" />
<link rel="stylesheet" href="/styles/partials/page-header.css" />
<link rel="stylesheet" href="/styles/partials/cards.css" />
<link rel="stylesheet" href="/styles/partials/buttons.css" />
<link rel="stylesheet" href="/styles/partials/animations.css" />

<script src="/scripts/global.js" defer></script>
