<div class="modal-wrapper">
  <div class="modal">
    <header>
      <img src="/images/trash-48.svg" alt="" />
    </header>

    <section>
      <h3>Excluir Job</h3>
      <p>
        Quer mesmo excluir esse job? <br />
        Ele será apagado para sempre.
      </p>
    </section>

    <footer>
      <a class="button gray" href="#">Cancelar</a>
      <button class="button red" type="submit" form="delete-job">
        Excluir Job
      </button>
    </footer>
  </div>

  <form
    method="POST"
    action="<% if (job) { %>/job/delete/<%= job.id %><% } %>"
    id="delete-job"
  ></form>
</div>
