<header class="page-header inner">
  <div class="content-container animate-up">
    <a href="/" class="back">
      <img src="/images/back.svg" alt="Voltar para a página inicial" />
    </a>

    <h1><%= title %></h1>

    <%- include("./theme-switcher", { switcherClass: "h-switcher" }) %>
  </div>
</header>
