<header class="page-header inner">
  <div class="container animate-up">
    <a href="/" class="back">
      <img src="/images/back.svg" alt="" />
    </a>
    <h1><%= title %></h1>
    <button id="theme-switcher" class="h-switcher" type="button">
      <span class="sr-only">Habilitar tema escuro</span>
      <span></span>
    </button>
  </div>
</header>
