<button type="button" id="theme-switcher" class="<%= switcherClass %>">
  <p class="sr-only">Habilitar/desabilitar tema escuro</p>

  <div>
    <img id="theme-icon" src="/images/sun.svg" alt="Sol" />
  </div>
</button>
