<button type="button" id="theme-switcher" class="<%= switcherClass %>">
  <span class="sr-only">Habilitar/desabilitar tema escuro</span>

  <div>
    <img id="theme-icon" src="/images/sun.svg" alt="Sol. Ilustração." />
  </div>
</button>
