.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 3rem;

  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.625rem;
  text-transform: uppercase;

  border: none;
  border-radius: 0.313rem;
  cursor: pointer;
  transition: background-color 0.5s;
}

button.button {
  line-height: 1.5rem;
}

.button.orange {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.button.orange:hover {
  background-color: var(--color-secondary-hover);
}

.button.green {
  background-color: var(--color-save);
  color: var(--color-text);
}

.button.green:hover {
  background-color: var(--color-save-hover);
}

.button.gray {
  background-color: var(--color-cancel);
  color: var(--color-card-content);
}

.button.gray:hover {
  background-color: #e7e9eb;
}

.button.red {
  background-color: var(--color-delete);
  color: var(--color-text);
}

.button.red:hover {
  background-color: var(--color-delete-hover);
}

.button.white {
  background-color: var(--color-text);
  border: 1px solid #e1e3e6;
}

.button.white:hover {
  background-color: var(--color-button-background);
}

.button-group {
  display: flex;
  align-items: center;
}

.button + .button {
  margin-left: 1rem;
}

.actions .button {
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
}

.actions .button + .button {
  margin-left: 0.5rem;
}
