.card {
  text-align: left;
  padding: 1.5rem;

  background-color: var(--color-card-background);
  color: var(--color-card-title);
  border: 1px solid var(--color-card-border);
  border-radius: 0.313rem;
}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  width: fit-content;

  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.625rem;
  background-color: rgb(237, 237, 237);
  border-radius: 2.5rem;
}

.unstarted .badge {
  background-color: var(--color-badge-unstarted-background);
  color: var(--color-hairline-in-dark);
}

.progress .badge {
  background-color: var(--color-badge-progress-background);
  color: var(--color-badge-progress-text);
}

.done .badge {
  background-color: var(--color-badge-done-background);
  color: var(--color-badge-done-text);
}
